.profile {
  width: 350px;
  height: 400px;
  border: 1px solid rgba(198, 198, 198, 0.288);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.058);
  padding: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.profile__image{
  width: 150px;
  margin: 0 auto;
}

.profile h4{
  font-size: 20px;
  margin: 20px 0;
  font-family: "Montserrat";
  text-align: center;
}

.profile p{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  color: #BAC5D1;
  margin-bottom: 10px;
}

.profile p span{
  color: #EC6236;
}

@media screen and (max-width: 768px){
  .profile {
    width: 100%;
  }
}